{% extends 'base.html.twig' %}

{% block body %}

    {% if przecena %}
    
        Najwyzsza przecena o wartosci: - {{ przecena }}% jest w ofercie ktorej URL to:
        <a href="{{ url }}"> {{ url }} </a>
    
    {% else %}
        Brak ofert przecenionych. Spróbuj później.
    {% endif %}
{% endblock %}