{% extends 'base.html.twig' %}

{% block body %}

<p>Wywołaj stronę z url: /crawler.php?location=</p>
<p>Przykład: http://localhost/crawler.php?location=maroko</p>
<p>Wynikiem będzie zapisanie w bazie danych URLa do oferty która w tym momencie ma najwyższą przecenę</p>

{% endblock %}